*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
                                            /*topnav*/
.topnav {
    float: right;
    border-left: solid 3px #f9f9f9;
    border-bottom: solid 3px #f9f9f9;
    width: 95%;
    display: flex;
    align-items: center;
}
.topnav__search {
    margin-left: 10px;
}
.topnav__search__input {
    border: hidden;
}
.topnav__search__input:focus {
    outline: none;
}
.topnav :nth-child(2) {
    margin-left: auto;
}
.topnav__user__area {
    display: flex;    
}
.topnav__user {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}
.topnnav__user__foto {
    border-radius: 50%;
}
.topnav__plus__circle {
    width: 100px;
    border-left: 3px solid #f9f9f9;
    display: flex;
    justify-content: center;
}
.topnav__logout__circle {
    width: 100px;
    display: flex;
    justify-content: center;
    border-left: 3px solid #f9f9f9;   
}
                                        /*end-of-topnav*/
                                        /*sidenav*/
.sidenav {
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.sidenav__home {
    margin-bottom: auto;
    margin-top: 20px;
}
.sidenav__list {
    margin-bottom: 25vh;
    list-style: none;
}
.sidenav__item {
    margin-bottom: 50px;
}
.sidenav__ham {
    margin-bottom: 10px;
}
                                        /*end-of-sidenav*/
.main {
    float: right;
    width: 95%;
    border-left: 3px #f9f9f9 solid;
}
.main__content {
    background-color:  #f9f9f9;
    padding-top: 5vh;
}
.main__view {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vh;
    margin-left: 15vh;
    margin-right: 20vh;
}
.main__articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__article {
    border: 1px solid #adadad ;
    background-color:#ffff;
    width: 250px;
    margin: 0px 20px 50px 0px;
    padding-bottom: 5vh;
}
.main__article :nth-child(1) {
    text-decoration: none;
    
}
.main__foto {
    max-width: 100%;
    max-height: 100%;
}
.main___article__title {
    padding: 3px;
    margin-bottom: 10px;
}
.main__article__header {
    padding: 3px;
}
.main__article__text {
    padding: 5px;
    line-height: 1.5;
}


