.card {
    @include card;
    &__link {
        text-decoration: none;
        color: $color-blue;
    }
    &__photo {
        max-width: $card-photo-max-width;
        max-height: $card-photo-max-height;
    }
    &__title {
        padding: $card-title-padding;
        margin: $card-title-margin; 
    }
    &__header {
        padding: $card-header-padding;
        margin-left: $card-header-margin-left;
        font-weight: $font-weight;
        line-height: $card-header-line-height;
    }
    &__text {
        padding: $card-text-padding;
        line-height: $line-height;
        margin-left: $card-text-margin-left;
        color: $color-gray-dark;
    }
}