* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif; }

.wrapper {
  display: flex; }
  @media screen and (max-width: 600px) {
    .wrapper {
      display: flex;
      flex-direction: column; } }

.sidenav {
  width: 10vh;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center; }
  @media screen and (max-width: 600px) {
    .sidenav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 100%;
      height: 10vh; } }

.topnav {
  border-left: 3px solid #f9f9f9;
  border-bottom: 3px solid #f9f9f9;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh; }
  @media screen and (max-width: 600px) {
    .topnav {
      width: 80%;
      margin: auto;
      border: none;
      display: block;
      align-items: center;
      height: 20vh; } }

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: right; }

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.sidenav__home {
  margin-bottom: auto;
  margin-top: 20px; }
  @media screen and (max-width: 600px) {
    .sidenav__home {
      margin-bottom: 0px;
      margin-top: 0px; } }

.sidenav__list {
  margin-bottom: 25vh;
  list-style: none; }
  @media screen and (max-width: 600px) {
    .sidenav__list {
      width: 200px;
      display: flex;
      justify-content: space-around;
      margin-bottom: 0px; } }

.sidenav__item {
  margin-bottom: 50px; }
  @media screen and (max-width: 600px) {
    .sidenav__item {
      margin-bottom: 0px; } }

.sidenav__menu {
  margin-top: auto;
  margin-bottom: 10px; }
  @media screen and (max-width: 600px) {
    .sidenav__menu {
      margin-bottom: 0px;
      margin-top: 0px; } }

.topnav__search {
  margin-left: 10px; }

.topnav__link {
  text-decoration: none; }

.topnav__input {
  border: none; }

.topnav__user {
  display: flex;
  margin-left: auto; }

.topnav__account {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 10px; }

.topnav__photo {
  border-radius: 50%; }

.topnav__circle {
  width: 100px;
  border-left: 3px solid #f9f9f9;
  display: flex;
  justify-content: center; }
  @media screen and (max-width: 600px) {
    .topnav__circle {
      margin-bottom: 0px;
      margin-top: 0px; } }

.topnav__logout {
  width: 100px;
  display: flex;
  justify-content: center;
  border-left: 3px solid #f9f9f9; }
  @media screen and (max-width: 600px) {
    .topnav__logout {
      width: 100px;
      display: flex;
      justify-content: center;
      border: none; } }

.main__content {
  background-color: #f9f9f9;
  padding-top: 5vh; }

.main__view {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10vh;
  margin-left: 15vh;
  margin-right: 20vh; }
  @media screen and (max-width: 600px) {
    .main__view {
      display: flex;
      justify-content: space-between;
      width: 80%;
      margin: auto;
      padding-bottom: 10vh; } }

.card {
  border: 1px solid #adadad;
  background-color: #ffff;
  width: 250px;
  margin: 0px 20px 50px 0px;
  padding-bottom: 5vh; }

.card__link {
  text-decoration: none; }

.card__photo {
  max-width: 100%;
  max-height: 100%; }

.card__title {
  padding: 3px;
  margin-bottom: 10px; }

.card__header {
  padding: 3px; }

.card__text {
  padding: 5px;
  line-height: 1.5; }
