
    .sidenav {
    &__home {
        margin-bottom: auto;
        margin-top: $offset-c * 1px;
        @media screen and (max-width: map-get($brakpoint, device)) {   
            @include margins;
        }
    }
    &__list {
        margin-bottom: $offset-d;
        list-style: none;
        @media screen and (max-width: map-get($brakpoint, device)) {   
                width: double($offset-b) * 1px;
                display: flex;
                justify-content: space-around;
                @include margin;
        }
    }
    &__item {
        margin-bottom: $offset-e * 1px;
        @media screen and (max-width: map-get($brakpoint, device)) {     
            @include margin;
        }
    }
    &__menu {
        margin-top: auto;
        margin-bottom: $offset-f;
        @media screen and (max-width: map-get($brakpoint, device)) {   
            @include margins;
        }
    }
}
    .topnav {
    &__search {
        margin-left: $offset-a * 1px;
    }
    &__link {
        text-decoration: none;
    }
    &__input {
        border: none;
    }
    &__user {
        display: flex;
        margin-left: auto;
    }
    &__account {
        display: flex;
        align-items: center;
        margin-right: $offset-a * 1px;
        margin-left: $offset-a * 1px;
    }
    &__photo {
        border-radius: $offset-e * 1%;
    }
    &__circle {
        width: $offset-b * 1px;
        border-left: $offset-g solid $color-gray;
        display: flex;
        justify-content: center;
        @media screen and (max-width: map-get($brakpoint, device)) {   
            @include margins;
        }
    }
    &__logout {
        width: $offset-b * 1px;
        display: flex;
        justify-content: center;
        border-left: $offset-g solid $color-gray;
        @media screen and (max-width: map-get($brakpoint, device)) {
                width: $offset-b * 1px;
                display: flex;
                justify-content: center;
                border: none;
        }
    }
}
    .main {
    &__content {
        background-color: $color-gray;
        padding-top: $offset-j * 1vh;
    }
    &__view {
        display: flex;
        justify-content: space-between;
        margin-bottom: $offset-a * 1vh;
        margin-left: $offset-h;
        margin-right: $offset-c * 1vh;
        @media screen and (max-width: map-get($brakpoint, device)) {   
                display: flex;
                justify-content: space-between;
                width: $offset-m;
                margin: auto;
                padding-bottom: $offset-a * 1vh;
        }
    }
}
    .card{
        @include card;
    }
    .card{
    &__link {
        text-decoration: none;
    }
    &__photo {
        max-width: $offset-b * 1%;
        max-height: $offset-b * 1%;
    }
    &__title {
        padding: $offset-g;
        margin-bottom: $offset-a * 1px;
    }
    &__header {
        padding: $offset-g;
    }
    &__text {
        padding: $offset-j * 1px;
        line-height: $line-height;
    }
}

    