.main {
    &__content {
        background-color: $color-gray;
        padding-top: $main-content-padding-top;
    }
    &__view {
        display: flex;
        justify-content: space-between;
        margin: $main-view-margin-desktop;
        @include media-max-width("phone") {
            display: flex;
            justify-content: space-between;
            width: $main-view-width-phone;
            margin: auto;
            padding-bottom: $main-view-padding-bottom-phone;
        }
    }
    &__collections {
        color: $color-gray-dark;
        font-weight: $font-weight;
    }
    &__listings {
        color: $color-blue;
        font-weight: $font-weight;
        text-decoration: none;
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    @include card;
    &__link {
        text-decoration: none;
        color: $color-blue;
    }
    &__photo {
        max-width: $card-photo-max-width;
        max-height: $card-photo-max-height;
    }
    &__title {
        padding: $card-title-padding;
        margin-bottom: $card-title-margin-bottom;
        margin-top: $card-title-margin-top;
        margin-left: $card-title-margin-left;
    }
    &__header {
        padding: $card-header-padding;
        margin-left: $card-header-margin-left;
        font-weight: $font-weight;
        line-height: $card-header-line-height;
    }
    &__text {
        padding: $card-text-padding;
        line-height: $line-height;
        margin-left: $card-text-margin-left;
        color: $color-gray-dark;
    }
}
