.sidenav {
    width: $sidenav-width-desktop;
    height: $sidenav-height-desktop;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    @include media-max-width("phone") {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: $sidenav-width-phone;
        height: $sidenav-height-phone;
    }
}
